<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= form.label :plane_id %>
    <div class="controls">
      <%= collection_select( :schedule, :plane_id, Plane.all, :id, :name, {}, { multiple: false } ) %>
    </div>
  </div>
  
  <div class="field">
    <%= form.label :td1 %>
    <%= form.number_field :td1 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
