<p id="notice"><%= notice %></p>

<p>
  <strong>Plane:</strong>
  <%= @schedule.plane.name %>
</p>

<p>
  <strong>Xroute:</strong>
  <%= @schedule.xroute.name %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @schedule.duration %>
</p>

<p>
  <strong>Td1:</strong>
  <%= @schedule.td1 %>
</p>

<p>
  <strong>Ta1:</strong>
  <%= @schedule.ta1 %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
