<%= form_with(model: hub, local: true) do |form| %>
  <% if hub.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hub.errors.count, "error") %> prohibited this hub from being saved:</h2>

      <ul>
      <% hub.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= form.label :city_id %>
    <div class="controls">
      <%= collection_select( :hub, :city_id, City.all, :id, :name, {}, { :multiple => false } ) %>
    </div>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
