<p>
  <strong>City:</strong>
  <%= @hub.city.name %>
</p>

<p>
  <strong>Slots:</strong>
  <%= @hub.slots %>
</p>

<p>
  <strong>Rental cost:</strong>
  <%= @hub.rental_cost %>
</p>

<p>
  <strong>Staffs:</strong>
  <%= @hub.staffs.count %>
</p>

<p>
  <strong>Office cost:</strong>
  <%= @hub.office_cost %>
</p>
