<p id="notice"><%= notice %></p>

<h1>Hubs</h1>

<table>
  <thead>
    <tr>
      <th>City</th>
      <th>Opening cost</th>
      <th>Rental cost</th>
      <th>Office cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @hubs.each do |hub| %>
      <tr>
        <td><%= hub.city.name %></td>
        <td><%= hub.opening_cost %></td>
        <td><%= hub.rental_cost %></td>
        <td><%= hub.office_cost %></td>
        <td><%= link_to 'Show', hub %></td>
        <td><%= link_to 'Edit', edit_hub_path(hub) %></td>
        <td><%= link_to 'Destroy', hub, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Hub', new_hub_path %>
