<p id="notice"><%= notice %></p>

<h1>Plane Models</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Range</th>
      <th>Avg speed</th>
      <th>Max pas</th>
      <th>Fuel use</th>
      <th>Cost</th>
      <th>Maintanence</th>
      <th>Pilots</th>
      <th>Hosts</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plane_models.each do |plane_model| %>
      <tr>
        <td><%= plane_model.name %></td>
        <td><%= plane_model.range %></td>
        <td><%= plane_model.avg_speed %></td>
        <td><%= plane_model.max_pas %></td>
        <td><%= plane_model.fuel_use %></td>
        <td><%= plane_model.cost %></td>
        <td><%= plane_model.maintanence %></td>
        <td><%= plane_model.pilots %></td>
        <td><%= plane_model.hosts %></td>
        <td><%= link_to 'Show', plane_model %></td>
        <td><%= link_to 'Edit', edit_plane_model_path(plane_model) %></td>
        <td><%= link_to 'Destroy', plane_model, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plane Model', new_plane_model_path %>
